<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}{% if page.url != '/' %} | HB{% endif %}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <script
      type="module"
      src="https://unpkg.com/@puzzlelabs/puzzle-glossary/dist/puzzle-glossary/puzzle-glossary.esm.js"
    ></script>
  </head>
  <body>
    {% include "nav.njk" %}

    {{ content | safe }}

    <script>
        document.addEventListener('highlightWidgetReady', function() {
        highlightWidgetManager.config = {
          // It needs to select specific parts of page:
          selectors: ['body'],
          // It needs to mark words one time:
          hasMarkAll: false,
          // It needs not to mark hyperlinks:
          hasMarkHyperlink: false,
          },

        highlightWidgetManager.theme = {
          // It needs to change mode (dark/light):
          mode: 'light',
          // It needs to change font (make sure this is added to website):
          fontFamily: '',
          // It needs to change style and type (highlight/underline) of marker:
          marker: {
            color: '#E7FF57',
            type: 'highlight',
          },
          // It needs to change style of CTA (Call to action):
          callToAction: {
            color: '#fff',
            backgroundColor: '#000',
          },
          // It needs to change style of widget modal:
          modal: {
            primaryColor: '#000',
            secondaryColor: '#74747F',
            backgroundColor: '#E7E8FE',
          },
        };

        // first argument is glosary id, { mark: true } say manager after initialization highlight concept automaticaly
        highlightWidgetManager.init('644d9c8f8ec39d1b59d63296', { mark: true });
        // Or you can mark separetly
        // highlightWidgetManager.init('6437d691b3c98451b429460f').then(() => {
        //    highlightWidgetManager.mark();
        // });
      })
    </script>
  </body>
</html>
